*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header */

nav{
    background-color: black;
    
}

nav h3{
    color: white;
}

nav .navbar-collapse{
    justify-content: end;
    
}



/* main */

main{   
    padding: 15px;
    background-image: url("../img/fondonegro.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    color: white;
}

main div{
    padding: 25px;
}

main img{
    height: 350px;
}

/* Sección 1 */

.section1{
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    color: black;
    
    
}

.section1 .divformacion{
    padding: 25px;
}

.section1 .divlogros{
    padding: 25px;
}

.section1 h2{
    text-align: center;
}

/* section experiencia */

.section2 {
    text-align: center;
    padding: 75px;
}

.section2 h2{
    padding-bottom: 20px;
}

/* Portafolio */

.portafolio h2{
    text-align: center;
}

.col-sm{
    padding: 15px;
    justify-content: center;
}

.card img{
    width: 100%;
}

/* Footer */

footer div{
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer i{
    margin: 10px;
}

footer h3{
    text-align: center;
    padding: 10px;
}